p, td { 
    text-align: justify;
    text-justify: inter-word;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 20px;
    list-style-position: outside;
}

li {
    padding-bottom: 0.5em;
}

.file {
    border: 1px solid black;
    padding: 0.75em;
    margin-left: 3em;
    background-color: rgb(215,215,215)
}

.cmd {
    background-color: rgb(215,215,215)
}

.caption {
    font-weight: bold;
    text-align: center;
    font-size: smaller;
    margin-bottom: 0px;
}
