/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, b, h1, h3 { font-weight: 700; }


h1 { font-family: Verdana, Geneva, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; text-align: center; padding-top: 7px; } 

h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }

a:link {
    color: #09204e;
}
a:visited {
    color: #09204e;
}

body {
    background-color: #dad4d1;
    text-align: left;
    margin: auto;
    display: block;
    width: 850px;
    font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}

div {
    text-align: left;
    margin: auto;
    border: none;
    background-color: white;
}

div.decomp {
    margin-top: 8px;
}

div.desc p {
    padding: 7px 14px 7px 14px;
    margin: 0;
}

div.timeseries {
    padding-top: 7px;
}

table.timeseries {
    border: none;
    /* border-top: 8px solid #dad4d1; */
    table-layout: fixed;
    width: 100%;
}

table.timeseries td th tr {
    border: None;
}

table.timeseries th {
    padding-left: 49px;
}    

canvas {
    border: 1px solid #000;
}


table.simprop {
    padding: 0px;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table.simprop th {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
table.simprop tr.top th {
    text-align: center;
}

table.simprop td {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
table.simprop th.ul {
    text-align: center;
    border-bottom: 1px solid #000;
}
.ul th {
    border-bottom: 1px solid #000;
}
.udash td {
    border-bottom: 1px dashed #000;
}
.greenok {
    background-color: rgb(165,255,181);
}


.error {
    background-color: rgb(204,51,0);
    font-weight: bold;
    color: white;
}
.error:link {
    color: white; text-decoration:none;
}
.error:visited {
    color: white; text-decoration:none;
}

.warn {
    background-color: rgb(255,255,102);
    color: black;
}

.warn:link {
    color: #000; text-decoration:none;
}
.warn:visited {
    color: #000; text-decoration:none;
}

.outlier {
    background-color: rgb(51,204,0);
    font-weight: bold;
    color: black;
}
.outlier:link {
    color: black; text-decoration:none;
}
.outlier:visited {
    color: black; text-decoration:none;
}

.code {
    font-family: monospace;
}
