
/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, b, h1, h3 { font-weight: 700; }

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

h1 { font-family: Verdana, Geneva, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; text-align: center; padding-top: 7px; } 

h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }

a:link {
    color: #09204e;
}
a:visited {
    color: #09204e;
}

body {
    background-color: #dad4d1;
    text-align: left;
    margin: 15px 20px 20px 20px;
    display: block;
    font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}

fieldset {
    margin: 4px;
    padding: 1px 0px 1px 2px;
    border: 2px solid #676463;
}

#right-bottom-inputs fieldset div {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}


table {
    margin-left: auto;
    margin-right: auto;
}

table td,th {
    text-align: right;
    padding-right: 1em;
}


#main-grid {
    display: flex;
    gap: 1em;
}

#main-left {
    flex-grow: 1;
}

#main-right {
}

#right-bottom-inputs {
    display: grid;
    grid-template-columns: 9em 9em;
}

/*
#ncolor-input {
    display: flex;
}

#ncolor-input > * {
    flex-grow: 1;
}
*/

#ncolor-input {
    display: grid;
    grid-template-columns: 9em 7em;
}

#ncolor-input div {
    width: 7em;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
}


#data-input {
    display: grid;
    grid-template-columns: 6em 6em 6em 5.5em;
    padding: 0px 0px 3px 4px;
    width: 0;
}





#mynetwork {
    height: 400px;
    border: 2px solid #676463;
    background-color: #F8F6F6;
}

#bottom-content {
    border: 3px solid black;
    border: none;
}


#tips {
    display: block;
}
#tips-lists {
    display: flex;
    flex-direction: columns;
}
#tips-lists div {
    padding-right: 2em;
}

span.tip {
    font-style: italic;
}

/* Toggled tables whose display mode are selected by the fieldset */
.hidable { display: none; }

div.hidable { margin-top: 1em; }

.hidable table {
    background-color: #F8F6F6;
    width: 100%;
    text-align: center;
    border: 2px solid #676463;
}

.hidable th {
    color: white;
    background-color: #676463;
}


.regres th { text-align: center; }
    
.regres-Edge table {
    width: 440px;
}
.regres-Edge table th, table td {
    text-align: right;
}
.regres-Edge {
    display: hidden;
    margin-bottom: 1em;
}
    
.regres-Node table {
    width: 440px;
}
.regres-Node table th, table td {
    text-align: right;
}
.regres-Node {
    display: hidden;
    margin-bottom: 1em;
}
    
.pair-inputs {
    width: 440px;
    display: grid;
    grid-template-columns: 9em 9em;
    padding-left: 0.8em;
}

#regres-content {
    display: grid;
    grid-template-columns: 460px 460px;
}

.selected {
    background-color: yellow;
}


